<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Todo Page</title>
</head>



{% extends 'todo/base.html' %}
{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<body>
<h1 style="text-align:center;">Create Todo</h1>

<form method="post">
    {% csrf_token %}
    <div style="text-align:center;">
        {{form.as_p}}
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>


{% endblock %}

</body>

</html>