<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List Home Page</title>
</head>

{% extends 'todo/base.html' %}
{% block content %}


<body>
<!--<h1> Todo List Home </h1>-->


<div class="card text-center">
    <!--<div class="card-header">-->
    <!--<ul class="nav nav-tabs card-header-tabs">-->
    <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link active" aria-current="true" href="#">Active</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="{% url 'loginuser' %}">Login</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="{% url 'signup' %}">Signup</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="card-body">
        <h5 class="card-title">ToDo List App</h5>
        <p class="card-text">
            Todo app helps you create work list (Todos) to help you remember tasks.<br>
            You can create, edit, highlight important tasks.<br>
            It also shows your completed Todos.

        </p>

        <a href="{% url 'loginuser' %}" class="btn btn-primary btn-lg">Login</a>
        <br>
        <br>
        <a href="{% url 'signup' %}" class="btn btn-primary ">Signup</a>
    </div>
</div>


</body>

{% endblock %}
</html>
